@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Gotham Ultra';
        src: url('assets/fonts/GothamUltra-Italic.woff2') format('woff2'),
            url('assets/fonts/GothamUltra-Italic.woff') format('woff');
        font-weight: 900;
        font-style: italic;
        font-display: swap;
    }
}